root {
    display: block;
}
 
 
.root{
    -fx-background-color: linear-gradient(
            from 0% 0% to 100% 100%, #b478ff 0%, #9400d3 100%
    );
}
 
.text{
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
 
.text:hover{
    -fx-fill: #8CCC1C;
}